#mainwindow{
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1 2 1;
    flex-basis: auto;
}

#topbar {
    border-bottom: 1px solid #7493A3;
    width: 100%;
    padding: 2px 0px 5px 0px;
    margin: 0px 0px 10px 0px;
}

#storage {
    width: 350px;
    border-right: 1px solid #7493A3;
    padding: 2px 5px 5px 0px;
    margin: 0px 10px 0px 0px
}

#log {
    width: 250px;
    border-left: 1px solid #7493A3;
    padding: 2px 0px 5px 5px;
    margin: 0px 0px 0px 10px
}
